$black: #000;
$grey: #262626;
$light-grey: #ddd;
$white: #fff;
$red: red;

.bg-black {
  background: $black;
  color: $white;
}

.bg-grey {
  background: $grey;
}

.text-white {
  color: $white;
}

.text-red {
  color: $red;
}
