---
title: Products

# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
  <section>
    <div class="row expanded hero">
      <div class="large-12 columns center">
        {% editable_text "products", rows: 20 %}
          <h1>Our Products</h1>
          <p>We are more than just an agency. We love the internet and believe in producing great products online. This gives us a unique ability to understand more then just the code behind a site, we understand how to think like a business and how to come up with creative solutions to your problems.</p>
        {% endeditable_text %}
      </div>
    </div>
    <div class="row expanded hero">
      <div class="large-12 columns center">
        {% editable_text "products_af", rows: 20 %}
          <h1><a href="www.analogforest.com">Analog Forest</a></h1>
          <p>Analog Forest is an in house product for Bright Black. We developed a new company to help designers anywhere design fitness clothing and then we manufacture, market and sell the products. Each item sold provides a kickback to the designer.</p>
        {% endeditable_text %}
      </div>
    </div>
  </section>
{% endblock %}
